@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url('/yoshiko-evanka-oI90dywodT8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.main {
    background-color: rgba(33, 36, 32, 0.808);
    height: 500px;
    width: 60%;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main::-webkit-scrollbar {
    display: none;
}

.header {
    position: absolute;
    top: 5rem;
    left: 10%;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease-out;
    width: 80%;
    /* background-color: #aaa; */
}

.prj-list {
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
}

h1 {
    color: rgba(6, 179, 231, 0.822);
    margin: 0;
    padding: 0;
}

#title {
    color: rgba(134, 189, 240, 0.719);
}

.btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    margin: 0;
    overflow: hidden;
}

.btn:hover {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.btn:active {
    color: #fff;
    transition: color 0.1s ease;
}

.hidden {
    visibility: hidden;
}

.info a {
    color: #aaa;
}

.scroll-up {
    transform: translateY(-200px);
}

.scroll-right {
    transform: translateX(100%);
}

.prj-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.prj-list::-webkit-scrollbar {
    display: none;
}

.prj-list .prj {
    border: 1px solid transparent;
    margin: 3% 3%;
    transition: transform 0.2s ease;
}

.prj-list .prj a img {
    /* padding: 0 0 0.5rem 0; */
    width: 200px;
    height: 200px;
}

.prj-list .prj a {
    color: #ddd;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prj-list .prj:hover {
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.397);
    transform: scale(1.05);
}


/* Responsive layout */

@media screen and (max-width: 1280px  ) {
    .main {
        width: 70%;
        height: 600px;
    }
}

@media screen and (max-width: 768px  ) {
    .main {
        width: 80%;
        height: 600px;
    }
}
/* 
@media screen and (max-width: 480px  ) {
    .main {
        width: 90%;
        height: 600px;
    }

    .prj-list {
        flex-direction: column;
    }

    .prj-list .prj {
        padding: 5px;
        width: 70%;
    }

    .prj-list .prj a {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .prj-list .prj a img {
        margin-right: 2rem;
        width: 70px;
        height: 70px;
    }

    .prj-list .prj:hover {
        transform: scale(1.25);
    }
} */