@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: #FFF;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: rgb(57, 143, 201);
    border: none;
    color: #FFF;
    display: block;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 1.3rem;
}

button:hover {
    background-color: rgb(30, 127, 192);
}

button:focus {
    background-color: rgb(18, 93, 143);
    outline: none;
}